body{
    background-color: #FFF5DD;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #56070c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: white;
    user-select: none;
}

.navegacao a {
    position: relative;
    font-size: 1.1em;
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    padding: 20px;
    transition: .3s;
}

.navegacao a:hover,
.navegacao a.ativo {
    color: #300707;
}

#banner{
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0px;
    top: 67px;
}

.txtbanner{
    position: absolute;
    width: 663px;
    height: 161px;
    left: 10%;
    top: 293px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #FFF;
    opacity: 0.4;
}

#con{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    top: 50%;
}

footer{
    position: absolute;
    box-sizing: border-box;
    position: absolute;
    height: 250px;
    left: 0%;
    right: 0%;
    top: 1975px;
    background: #290505;
    color: #FFF;

}

.footlist{
    position: absolute;
    font-size: 1.1em;
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    padding: 20px;
}

.home{
    display: flex;
    position: absolute;
    font-size: 20px;
    height: 2200px;
    margin-left: 10%;
    display: flex;
    align-items: center;
    opacity: 100%;
    color: black;

    
}

.coluna {
    flex: 50%;
    font-size: 20px;
    padding-right: 400px;
    
    
}

#titulo{
    font-size: 45px;
    height: 100px;
}

.box{
    box-sizing: border-box;
    position: absolute;
    width: 1416px;
    height: 200px;
    left: 200px;
    top: 700px;

    background: #FFFFFF;
    border: 1px solid #000000;
}

.elemento{
    width: 100px;
    height: 100px;
    background-color: #290505;
    border: 1px solid black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 850px;
    margin-left: 400px;
    grid-column-gap: 10px;
}


.elemento{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
}
.container3{
    display:flex;
    flex-wrap: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -106px;
    margin-right: 1500px;
    grid-column-gap: 10px;
    background-color: #290505;
    border: solid black;
    display: flex;
}
.catalogo{
        width: 100%;
        height: 100px;
        background-color: #290505;
        margin-left: 0px;
        color: white;
        font-size: 60px;
    }
    .container2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-top: -400px;
        margin-left: 600px;
        grid-column-gap: 10px;
        background-color: #290505;
        border: solid black;
    }
    .vinhos{
            width: 100px;
            height: 100px;
            background-color: #290505;
            margin-left: -1100px;
            color: white;
            font-size: 60px;
        }
.container4{
    display:flex;
    flex-wrap: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0px;
    margin-right: 1500px;
    grid-column-gap: 10px;
    width: 30%
    border: solid gray;
    display: flex;
    border: solid black 1px;
    height: 900px;
}
.filtro{
        width: 100%;
        height: 100px;
        white-space: nowrap;
        margin-left: 0px;
        color: gray;
        font-size: 30px;
}

.vinho_italiano{
    width: 100%;
        height: 100px;
        margin-top: 60px;
        margin-left: 0px;
        color: gray;
        font-size: 20px;
}

.vinho_frances{
    width: 100%;
        height: 100px;
        margin-top: 110px;
        margin-left: -120px;
        color: gray;
        font-size: 20px;
}

.vinho_espanhol{
    width: 100%;
        height: 100px;
        margin-top: 160px;
        margin-left: -130px;
        color: gray;
        font-size: 20px;
}

.vinho_chileno{
    width: 100%;
        height: 100px;
        margin-top: 210px;
        margin-left: -130px;
        color: gray;
        font-size: 20px;
}

.vinho_argentino{
    width: 100%;
        height: 100px;
        margin-top: 255px;
        margin-left: -115px;
        color: gray;
        font-size: 20px;
}

.vinho_brasileiro{
    width: 100%;
        height: 100px;
        margin-top: 300px;
        margin-left: -55px;
        color: gray;
        font-size: 20px;
}

.container5{
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-top: -493px;
        margin-left: 400px;
        grid-column-gap: 10px;
        background-image: url("imagens/fundo.jpg");
        background-repeat: no-repeat;
        background-size: cover;

}
.fileira2{
    width: 200px;
        height: 200px;
        background-color: white;
        border: 1px solid black;
    }


.container6{
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-top: 570px;
        margin-left: 400px;
        grid-column-gap: 10px;

    }
    .fileira3{
    width: 200px;
        height: 200px;
        background-color: white;
        border: 1px solid black;
        }

    .container7{
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-top: -490px;
        margin-left: 400px;
        grid-column-gap: 10px;
    
        }
     .fileira4{
        width: 200px;
            height: 200px;
            background-color: white;
            border: 1px solid black;
            }

    .container8{
        display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            margin-top: 600px;
            margin-left: 400px;
            grid-column-gap: 10px;
        
            }
    .fileira5{
        width: 200px;
            height: 200px;
            background-color: white;
            border: 1px solid black;
                }

    .container9{
        display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            margin-top: -470px;
            margin-left: 400px;
            grid-column-gap: 10px;
            
                }
    .fileira6{
        width: 200px;
            height: 200px;
            background-color: white;
            border: 1px solid black;
                    }
            
     .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
                    }